<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Random images</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/imagesStyles.css}">
    <script crossorigin="anonymous"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/images.js}"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/728feeb69b.js"></script>
</head>
<body>

<div class="container">

    <div class="card">

        <div class="heading">
            <header>
                Random Image
            </header>
        </div>

        <div class="image_filters_container">

            <div class="image_filter" id="image_size_div">

                <label for="image_width">Width</label>
                <input class="number_input" id="image_width" max="2400" min="200" type="number" value="1920">
                <br>
                <br>
                <label for="image_height">Height</label>
                <input class="number_input" id="image_height" max="2400" min="300" type="number" value="1080">

            </div>

            <div class="image_filter" id="image_properties_div">

                <input id="grayscaleCB" type="checkbox">
                <label for="grayscaleCB">Grayscale</label>

                <br>
                <br>

                <input id="blurCB" type="checkbox">
                <label for="blurCB">Blur</label>
                <input class="number_input" id="blur_level" max="10" min="1" type="number" value="1">

            </div>

        </div>

        <hr>

        <div class="refresh">

            <button class="refreshBtn" id="imageRefreshBtn">Refresh</button>

        </div>

    </div>

    <div class="card contentWithLoading" id="result_image_div">

        <iframe height="700px" id="imageIFrame" src="https://picsum.photos/1920/1080?random=1" style="border: none"
                title="Image 1920x1080" width="100%">Sorry unable to load the image
        </iframe>

        <lottie-player autoplay background="transparent" class="loadingObject" loop speed="1"
                       src="https://assets10.lottiefiles.com/packages/lf20_ObshHL.json"></lottie-player>
    </div>


</div>

</body>
</html>